[submodule "contrib/jarro2783/cxxopts"]
	path = include/hazedumper/contrib/jarro2783/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "contrib/mini-yaml"]
	path = contrib/jimmiebergmann/mini-yaml
	url = https://github.com/jimmiebergmann/mini-yaml
