/contrib/LuaJIT
.idea/
/.vscode/*
!/.vscode/c_cpp_properties.json
/.vscode-test/*
!/.vscode-test/c_cpp_properties.json
.vs/
[Bb]uild/
[Cc]make-*/
[Dd]ebug/
[Oo]ut/
[Rr]elease/
[Tt]mp/
*.7z
*.a
*.dll
*.exe
*.gz
*.lib
*.log
*.o
*.obj
*.sys
*.tar
*.rar
*.zip
